@import url(https://fonts.googleapis.com/css?family=Google+Sans:400,500,700|Roboto:300,400,500);

// font

$font-family: 'Google Sans', 'Roboto', arial, sans-serif;

// colors

$disabled-bg-color: #dddddd;
$disabled-text-color: #999999;

$default-bg-color: #ffffff;
$default-text-color: rgba(0,0,0,0.87);

$accent-bg-color: #37af00;
$accent-text-color: #ffffff;

$primary-bg-color: #006cdf;
$primary-text-color: #ffffff;
